@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    --body-bg-dark: #0e055f;
    --color-dark:#fff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--body-bg-dark);
}

.header-conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 200px;
    height: 200px;
}

.borda{
    border: 2px solid var(--color-dark);
    border-radius: 50%;
    padding: 6px;
    margin-bottom: 7.5px;
}

.header-conteiner a{
    margin-top: 7.5px;
    text-decoration: none;
    text-align: center;
    color: var(--color-dark);
    margin-bottom: 16.5px;
}

.corpor_projetos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.projeitos_links{
    border: 2px solid var(--color-dark);
    text-align: center;
    border-radius: 4px;
    color: var(--color-dark);
}   

.projeitos_links a{
    text-decoration: none;
    color: var(--color-dark);
}

.projeitos_links a:visited{
    color: var(--color-dark);
}

.links_sociais{
    margin-top: 68px;
}

.links_sociais .img_links{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}